 @import url(../chameleon/styles.css);
/* Using the old default theme (runo) as the basis for now */

/* Add some padding to the tree */
.v-tree {
      padding-top: 8px;
      padding-left: 4px;
}

.toolbar .v-button {
      display: block;
      width: 65px;
      height: 55px;
      background: transparent;
      border: none;
      text-align: center;
}
 
.toolbar .v-button img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
}

.toolbar .v-button span {
      font-size: x-small;
      text-shadow: #fafafa 1px 1px 0;
}

.v-app {
      background: #d0e2ec;
      font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
      color: #222;
}

.toolbar {
      background: #ccc url(images/gradient.png) repeat-x bottom left;
}

.v-panel-caption-view {
      color: #004b98;
}
 
.view {
      background: white;     
}

 /* Theme table to look bit lighter */
.v-table-header-wrap {
      height: 20px;
      border: none;
      border-bottom: 1px solid #555;
      background: transparent url(images/table-header-bg.png) repeat-x;
}

.v-table-caption-container {
      font-size: 11px;
      color: #000;
      font-weight: bold;
      text-shadow: #fff 0 1px 0;
      padding-top: 1px;
}
 
.v-table-body {
      border: none;
}
 
.v-table-row-odd {
      background: #f1f5fa;
}
 
.v-table-row:hover {
      background: #fff;
}
 
.v-table-row-odd:hover {
      background: #f1f5fa;
}
 
.v-table .v-selected {
      background: #3d80df;
}
 
.v-table-cell-content {
      padding: 2px 6px 2px 3px;
      line-height: normal;
      font-size: 85%;
}

